<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>BYOND Travel Assignment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/" style=""><b>Byond Travel Assignment <i class="fa fa-line-van" aria-hidden="true"></i>
</b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_anonymous %}
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signupform' %}">Register?</a></li>
        {% else %}
	  <li><a href="{% url 'writepost' %}">Write POST</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% block homepage %}
  <div class="jumbotron text-center">
    <h1>Articulate Your Article</h1> 
    <p>Write your own articles here</p> 
    {% if request.user.is_anonymous %}
    <form>
      <div class="input-group">
        <div class="input-group-btn">
          <a href="{% url 'login' %}" type="button" class="btn" style="color: #f4511e; background-color: #fff;">Login?</a>
        </div>
      </div>
    </form>
    {% endif %}
  </div>

  <!-- Container (About Section) -->
  
<div class="container" style="margin-top:2%">
	 	{% for article in articles %}
                 <div class="col-md-8 col-md-offset-1 blogShort">
                     <h3>{{article.article_name}}</h3>
                         <em>Post by: {{article.owner}}, posted on: {{article.date}} <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank"></a></em>
                     
                     <a class="btn btn-blog pull-right marginBottom10" href="{% url 'readpost' article.id %}">READ POST</a> 
                 </div>
                 {% endfor %} 
                 <br>
               <div class="col-md-12 gap10"></div>
             </div>
</div>
<div style="margin-bottom:10%">
</div>
{% endblock %}

{% block content %}
{% endblock %}
{% block footer %}
<div style="margin-bottom: 0px;">
<div class="footer" style="color: #fff;">
  <p>&copy;2018 All rights reserved <a href="" style="color: #fff;">Anand thati</a></p>
</div>
</div>
{% endblock %}
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2100",
      // You can put more options here.

    });
  });
  </script>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '207342063322852',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.0'
      });
        
      FB.AppEvents.logPageView();   
        
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  
  </script>
</body>
</html>
